<div class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.linkedin.com/in/bernardo-mendes-b4665b246/"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="https://github.com/BernardoPMendes"><i class="fa-brands fa-github"></i></a>
        </div>
        <p class="copyright">Bernardo Mendes Portfolio © 2023</p>
    </footer>
</div>
