<div class="navbar-middle">
  <ul class="text-align">
    <li class="home active nav-item"><a href="#home" class="navbar-text">Home</a></li>
    <li class="projects nav-item"><a href="#projects" class="navbar-text">Projects</a></li>
    <li class="lenguagues nav-item"><a href="#lenguages" class="navbar-text">Languages</a></li>
    <li class="about nav-item"><a href="#about" class="navbar-text">About</a></li>
  </ul>
</div>
