.my-name{
  // font-size: 4em;
  // font-weight: 500;
  height: 770px;
  position: relative;
  margin-bottom: 3rem;
}

.my-name-container {
  position: absolute;
  bottom: 100px;
  left: 84px;
}

.my-name .text{
  margin-top: 50px;
}

.text-name{
  // font-weight: 900;
  background: linear-gradient(-90deg, #ff00aa,#0004ff,#00ffd0, #51ff00, #ff0000);
	background-size: 400%;
	animation: animate 15s infinite alternate;
	min-height: 100vh;
  color: transparent;
  background-clip: text;
}
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}

.about-me .title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.about-me-text{
  text-align: justify;
}


// ---------------------------------------------------------------projects cards------------------------------------------------------------------

.img-car{
  width: fit-content;
  height: fit-content;
}

.back-color{
  width: 100%;
  margin: 7rem auto;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(35,37,49,.5)),to(rgba(15,15,24,.5)));
  border: 0.2rem solid #20222e;
  box-sizing: border-box;
  backdrop-filter: blur(54px);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
  position: relative;
}

.margin{
  margin-bottom: 7rem;
}

// -----------------------------------------------------------------------lenguagues-------------------------------------------------------------------

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my-card{
  width: 30vh !important;
  height: 40vh !important;
  margin: 2rem auto;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(35,37,49,.5)),to(rgba(15,15,24,.5)));
  border: 0.2rem solid #20222e;
  box-sizing: border-box;
  backdrop-filter: blur(54px);
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  position: relative;

  .text{
    position: absolute;
    bottom: 20px;
  }
}

.ruby{
  width: 150px;
}

.html{
  width: 150px;
}

.css{
  width: 150px;
}

.sql{
  width: 150px;
}

.js{
  width: 160px;
}
